<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="AppDB" value="Data Source=localhost;Initial Catalog=VisualInsights;UID=sa;PWD=server;" />
    <add key="SmtpUserName" value="infompn2015@gmail.com"/>
    <add key="SmtpPassword" value="omnificence123" />
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="FilePath" value="D:\Omnificence\SVN Code\Visualinsights\source\web\files\" />
    <add key="MainURL" value="http://localhost/vi" />
    
  </appSettings>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="login.aspx" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
